body {
  font-size: 14px;
  line-height: 1.8em;
  /*color: black;*/
  font-family: '微软雅黑', '-apple-system','SF UI Text','Arial','PingFang SC','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei','sans-serif';
}

pre, code {
  font-weight: 800;
  font-size: 13px;
  font-family: 'Courier New', Roboto, Consolas, Inconsolata, Courier, monospace;
  /*margin: auto 5px;*/
}

pre {
  /*line-height: 1.4em;*/
  /*display: block; !important;*/
  color: #abb2bf;
  background: #282c34;
}

pre code {
  /*white-space: pre;*/
  /*overflow: auto;*/
  border-radius: 3px;
  padding: 1px 1px;
  /*display: block; !important;*/
}


ul, ol {
  font-size: 14px;
  padding-left: 10px;
  color: #282c34;
  font-family: '微软雅黑', '-apple-system','SF UI Text','Arial','PingFang SC','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei','sans-serif';
}